.App {
  text-align: center;
}
.abt-container {
  margin-left: 18%;
  margin-right: 18%;
  padding: 4em;
}
.abtme-background {
  background-color: #de281a;
  margin-bottom: 6%;
}

.contact-container {
  margin-left: 18%;
  margin-right: 18%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
